[{:description "First Test Handler"
 :scheme "test1"
 :namespace uri-handler.test.test-handler
 :handler handler1}

 {:description "Second Test Handler"
  :scheme "test2"
  :namespace uri-handler.test.test-handler
  :handler handler2}
 
 {:description "scoped test1"
  :scheme "test1"
  :scope :test
  :namespace uri-handler.test.scope-handler
  :handler handler1}] 
